.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -12px 22px 10px 2px rgba(75,156,184,0.25);
-webkit-box-shadow: -12px 22px 10px 2px rgba(75,156,184,0.25);
-moz-box-shadow: -12px 22px 10px 2px rgba(75,156,184,0.25);
}
.featuredItem:hover{
  box-shadow: -12px 22px 10px 2px rgba(75,156,184,0.4);
  -webkit-box-shadow: -12px 22px 10px 2px rgba(75,156,184,0.4);
  -moz-box-shadow: -12px 22px 10px 2px rgba(75,156,184,0.4);
}
featuredTitle{
  font-size: 20px;
}

.featuredMoneyContainer{
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney{
  font-size: 30px;
  font-weight: 600;
}

.featuredMoneyRate{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcon{
  font-size: 14px;
  margin-left: 5px;
  color: teal;
}

.featuredIcon.negative{
  color: red;
}

.featuredSub{
  font-size: 15px;
  font-style: italic;
  color: gray;
}
