.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;

    &.complete {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.active {
      color: rgb(0, 84, 158);
      background-color: rgba(3, 121, 189, 0.103);
    }
    &.pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }

  }
  .delete{
    color: red;
    border: 0;
    border-radius: 50px;
    background-color: transparent;
    &:hover{
      background-color: rgb(196, 9, 9);
      color: #fff;
      font-weight: 600;
      cursor: pointer;

    }
  }
}
